<div class="col-sm-6 mb-3 request-input-boolean">
    <label for="{id}" class="form-label"><span class="font-monospace">{parameter.name}</span>
        <f:if condition="{parameter.required}">
            <code>*</code>
        </f:if>
    </label>
    <input type="hidden" name="request#_{id}#parameter" value="{parameter.name}"/>
    <select id="{id}" class="form-select" name="request#_{id}#value" aria-describedby="{id}-help">
        <f:variable name="options" value="{0: '', 1: 'true', 2: 'false'}" />
        <f:for as="select" each="{options}">
            <option {f:if(condition:
            '{value -> f:spaceless()} == {select}', then: 'selected')}>{select}</option>
        </f:for>
    </select>
</div>
